
__pycache__/nifl_helper.cpython-38.pyc
.ipynb_checkpoints/spatial-forcing-comparison-checkpoint.ipynb
.ipynb_checkpoints/runoff-vs-velocity-checkpoint.py
.ipynb_checkpoints/nifl_helper-checkpoint.py
