
__pycache__/nifl_helper.cpython-38.pyc
.ipynb_checkpoints/spatial-forcing-comparison-checkpoint.ipynb
.ipynb_checkpoints/runoff-vs-velocity-checkpoint.py
.ipynb_checkpoints/nifl_helper-checkpoint.py
.ipynb_checkpoints/full-helheim-walkthrough-checkpoint.ipynb
.ipynb_checkpoints/modified-CCSL-checkpoint.py
.ipynb_checkpoints/plot-correlograms-20210623-checkpoint.py
.ipynb_checkpoints/tseries-example-plot-checkpoint.py
